<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="" target="_blank">
       logged in as - <b>{{observationsCtrl.userName}}</b>
       <div class="padding">
        <button class="button button-positive" ng-click="observationsCtrl.logout()" style="width:50%"> Logout</button>
       </div>
      </a>
      <a class="item">
        About -
        <br/>
        <br/>
         <b>Unilever Utilisation Study App (Beta)</b>
        <br/>
         Version - 1.0.0
        <br/>
        <br/>
        @Powered by Planon
      </a>
    </div>
  </ion-content>
</ion-popover-view>
